<div [ngStyle]="{'display':'flex', 'flex-wrap':'wrap', 'justify-content':'center'}"
     *ngIf="localStorage.getItem('account-data')">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> {{arrPostDetails.title}}</mat-card-title>
      <mat-card-subtitle> User ID {{arrPostDetails.userId}} | Post ID {{arrPostDetails.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> {{arrPostDetails.body}}</p>
    </mat-card-content>
    <button [ngStyle]="{'margin-top':'auto'}" mat-button><a routerLink="{{'/posts'}}">Posts page</a></button>
  </mat-card>
</div>
<div *ngIf="!localStorage.getItem('account-data')">
  <h1>You need create account!</h1>
  <code>401</code>
</div>
